* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
:root {
    --primary-bg-color:#e2e8f0;
    --color-blue:#1992d4;
    --bold-font:bold;
    --left-border-color:#f0b429;
}
body {
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

.main-container {
    background-color: black;
    width: 100%;
    height: 100vh;
    /* padding: 40px; */
}

/* Utility Classes */
.bold-font {
    font-weight: var(--bold-font);
    font-size: 1.2rem;
}

.bg-yellow {
 background-color: var(--left-border-color);
 width: 60px ;
 height: 60px;
 padding: 15px;
 /* background-color: red !important; */
 border-radius: 50px;
 display: flex;
 justify-content: center;
 font-weight: var(--bold-font);
}
.nav-right  img {
    width: 30px;
    height: 30px;
}


/* Nav Styling */
nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px 25px;
    /* flex-wrap: wrap; */
    width: 100%;
}



/* Nav left */
.nav-left {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:100%;
    /* background-color: red; */
    /* height: 150px; */
    font-weight:var(--bold-font);
    padding: 0 15px;
}
.nav-left input {
    background-color: var(--primary-bg-color);
    width: 93%;
    border: 1px solid var(--primary-bg-color);
    border-radius: 14px;
    height: 1.6rem;
}
.nav-left div:nth-child(2) {
    /* background-color: #1992d4; */
    margin-top: 25px;
    width: 100%;
}
.nav-left div:nth-child(2) div{
    display:flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* background-color: blue; */
    height: 100%;
    justify-content: flex-start;
    text-align: center;
}
.nav-left div {
    /* background-color: gold; */
    width: 70%;
    display: flex;
    justify-content: center;
    /* background-color: #1992d4; */
}
.nav-left .wrap {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    /* width: 100%; */
    /* background-color: #1992d4; */
}

.nav-left div:nth-child(2) {
   display: flex;
   justify-content: center;
   align-items: center;
}


/* Nav-right */
.nav-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    /* background-color: red; */
}
.nav-right div {
    display: flex;
    width: 100%;
    /* background-color: #1992d4; */
    justify-content: space-between;
    /* padding: 0 20px; */
    line-height: 2rem;
}
.nav-right div:first-of-type {
    /* background-color: yellow; */
    justify-content:space-between;

}
.nav-right div:first-of-type > span {
    width: 10%;
    display: flex;
    /* background-color: #1992d4; */
}
.nav-right div:first-of-type span {
    /* background-color: gray; */
    display: flex;
    justify-content: center;
    text-align: center;
}
.nav-right div:first-of-type > span:nth-child(1),
.nav-right div:first-of-type > span:nth-child(3) {
    margin-top: 5px;
}

a {
    text-decoration: none;
}
.nav-blue a{
    background-color:var(--color-blue);
    color: white;
    width: 30%;
    text-align: center;
    border-radius: 29px;
    margin-top: 40px;
}


@media (max-width:699px) {


    /* Menu Styling */
    /* Menu Styling */
    menu {
        padding: 20px;
        background-color: var(--color-blue);
        /* color: white; */
        /* transition: all 5000ms; */
        animation-name: slideIn;
        animation-duration: 1000ms;
        display: none;
    }
    @keyframes slideIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
     /* Menu styling when hamburger is clicked */
     .menu-wrap > .toggler:checked + .hamburger + menu{
        display: flex;
        flex-direction: column;
        width: 175px;
        height: 70vh;
        position: absolute;
        overflow-y: scroll;
        overflow-x: hidden;
        /* left: 50px; */
        box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.4);
        /* transition-property: display; */
    }

    menu img {
        width: 20px;
    }
    

    /* Hamburger Menu styling */
    .menu-wrap {
        position: fixed;
        top: 0px;
        left: 0px;
        /* padding: 10px; */
        width: 100%;
        height: 100%;
        /* background-color: #1992d4; */
        /* display: flex;
        justify-content: center;
        align-items: center; */
    }

    .menu-wrap > .hamburger {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 10px;
        left: 10px;
        background-color: var(--color-blue);
        /* opacity: 0; */
        padding: 10px;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.4);
    }

    .menu-wrap > .toggler {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 30px;
        height: 30px;
        z-index: 2;
        background-color: white;
        opacity: 0;
        cursor: pointer;
    }

    /* Hambuger Lines Styling */
    .hamburger > div {
    position: relative;
    background-color: white;
    height: 2px;
    width: 100%;
    z-index: 1;

    transition: transform 400ms ease-in-out;
    /* opacity: 0; */
    }

    .hamburger > div:before, 
    .hamburger > div:after {
        content: '';
        position: absolute;
        top: -10px;
        background-color: white;
        height: 2px;
        width: 100%;
        z-index: 1;
    }

    .hamburger div:after {
        top: 10px;
    }

    /* Lines transform to create X */
    .menu-wrap > .toggler:checked + .hamburger > div{
    transform: rotate(135deg);
    }

    .menu-wrap > .toggler:checked + .hamburger > div:before,
    .menu-wrap > .toggler:checked + .hamburger > div:after {
        top: 0px;
        transform: rotate(90deg);
    }

    /* hamburger moves more to the left when clicked */
    .menu-wrap > .toggler:checked + .hamburger, 
    .menu-wrap > .toggler:checked {
        left: 178px;
        transition: left 500ms;
    }
    
   

    /* More menu styling */
    .menu-heading {
        margin-bottom: 40px;
        display: flex;
        align-items: center;
    }
    .menu-heading span {
        margin-right: 7px;
        /* background-color: white; */
    }
    .other-pages div {
        margin-bottom: 25px;
        display: flex;
        align-items: center;
        /* justify-content: center; */
    }
    .other-pages div span {
        margin-right: 7px;
        /* background-color: white; */
        /* color: white; */
    }
    .other-pages .settings {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 80px;
        /* padding-top: 30px; */
    }
    /*
    //Bigger checkbox styling: an attempt to make the menu 
    display none if the body is clicked when the menu is 
    displayed.//

    .menu-wrap > .big-toggler {
        position: absolute;
        left: 170px;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .menu-wrap > .big-toggler:checked + .toggler:checked +  
    .hamburger + menu {
        display: none;
        background-color: yellow;
    } 
    .menu-wrap > .big-toggler:checked + .toggler:checked +  
    .hamburger, 
    .menu-wrap > .big-toggler:checked + .toggler:checked {
         left: 10px;
    }

    Menu styling when hamburger is clicked
    .menu-wrap > .toggler:checked + .hamburger + menu{
        display: flex;
        flex-direction: column;
        width: 175px;
        height: 70vh;
        position: absolute;
        overflow-y: scroll;
        overflow-x: hidden;
        box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.4);
        animation-name: slideIn;
        animation-duration: 500ms;
        animation-timing-function: ease-in-out;
    }
    */

}




/* Main Content Styling */
.main-content {
    background-color: var(--primary-bg-color) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Projects Styling */
.your-projects {
    background-color: var(--primary-bg-color) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.content-section {
    background-color: white;
    padding: 30px;
    margin-top: 20px;
    border-left: 7px solid var(--left-border-color);
    width: 80%;
    text-align: center;
    border-radius: 20px;
}
.section-icons {
    margin-top: 25px;
    margin-left: auto;
    display: flex;
    justify-content: space-around;
    background-color: gainsboro;
    width: 70%;
}


/* Announcements Styling */
.announcements {
    margin-top: 30px;
    border-radius: 20px;

}

.announcement.bold-font {
    margin: auto;
    /* background-color: firebrick; */
    text-align: center;
    margin: 20px 0;
    margin-bottom: 10px;
}


 .announce-section {
    background-color: white;
    width: 80%;
    padding: 20px;
    margin: auto;
    text-align: center;
}
.announce-section.one {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.announce-section.three {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
hr {
    margin: auto;
    width: 80%;
}

/* Trending */
.trending {
    /* margin: auto; */
    margin-top: 20px;
    margin-bottom: 0px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.bold-font.trending {
    text-align: center;
    /* background-color: rebeccapurple; */

}
.trending-section {
    margin-top: 15px;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    border-radius: 20px;
}

.trending-section > div {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    /* background-color: blue; */
    padding: 0  20px;
    margin: 20px 0;
}
.trending-section > div:first-child {
    text-align: center;
    /* background-color: orange; */
    display: flex;
    justify-content: center;
}
.trending-section > div > span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    margin-right: 17px;
    padding: 20px;
    border-radius: 50%;
}

 .trending-section div div:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    /* background-color: red; */
} 

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projects-container {
    /* background-color: #1992d4; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trend-announce {
    /* background-color: #1992d4; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width:700px) {
    .grid-container {
        width: 100%;
        background-color: var(--primary-bg-color);
        display: grid;
        padding-bottom: 0px;
        grid-template-columns:repeat(12,1fr);
        grid-template-rows: 200px auto;
        /* if the grid-two container wont let me style 
           the grid-container how then, will I style the
           nav and main-content? I would have to put the nav and 
           main-content inside a grid container to style them 
           in the grid layout style.
        */
        grid-template-areas: 
        "m n n n n n n n n n n n"
        "m mc mc mc mc mc mc mc mc mc mc mc";

    }

    .menu-wrap {
        display: block;
        grid-area: m;
        width: 100%;
    }
    .main-content {
        grid-area: mc;
    }
    menu img {
        width: 20px;
    }
    nav {
        grid-area: n !important;
    }

    .projects {
        background-color: inherit !important;
    }

    .menu-wrap {
        height: 100% !important;
        z-index: 4;
    }

    /* Menu Styling */
    menu {
        /* height: 378.7vh !important; */
        /* opacity: 0; */
        /* display: flex;
        justify-content: space-between !important; */
        height: 100% !important;
        overflow: hidden;
        /* display: flex !important; */
        visibility: visible !important;
        background-color: #1992d4 !important;
    }
 
    
    menu {
        padding: 20px;
        background-color: var(--color-blue);
        /* color: white; */
        width: 160px;
        min-height:100% !important;
    }
    .menu-wrap > .toggler , .menu-wrap > .big-toggler {
        display: none;
    }
    .menu-heading {
        margin-bottom: 40px;
        display: flex;
        align-items: center;
    }
    .menu-heading span {
        margin-right: 7px;
        /* background-color: white; */
    }
    .other-pages div {
        margin-bottom: 25px;
        display: flex;
        align-items: center;
        /* justify-content: center; */
    }
    .other-pages div span {
        margin-right: 7px;
        /* background-color: white; */
        /* color: white; */
    }
    .other-pages .settings {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 80px;
        /* padding-top: 30px; */
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: white;
        padding: 10px 25px;
        /* flex-wrap: wrap; */
        width: 100%; 
    }
    .hamburger {
        display: none;
    }
    /* Nav left */
    .nav-left {
        margin-top: 0px;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width:50%;
        /* text-align: start; */
        /* background-color: red; */
        height: 95%;
    }
    .nav-left input {
        background-color: var(--primary-bg-color);
        width: 100%;
        border: 1px solid var(--primary-bg-color);
        border-radius: 14px;
        height: 1.6rem;
    }
    .nav-left div:nth-child(2) div{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        line-height: 1rem;
        text-align: center;
        /* background-color: green; */
        margin-top: 0;
    }
    .nav-left div:nth-child(2) div span {
        background-color: inherit;
    }
    

    .nav-left div {
        /* background-color: gold; */
        width: 100%;
        display: flex;
        /* justify-content: center; */
    }
    .nav-left span {
        margin-right: 9px;
    }
    .nav-left div:nth-child(2) {
       display: flex;
       justify-content: center;
       /* flex-direction: column;*/
       align-items: center;
       font-weight:var(--bold-font);
       /* background-color: aqua; */
    }
    
    /* Nav-right */
    .nav-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        margin-top: 0px;
        height: 95%;
        /* background-color: rebeccapurple; */
    }
    .nav-right div {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 0 0px;
        line-height: 2rem;
        /* background-color: green; */
    }
    .nav-right > div > span {
        min-width: fit-content !important;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        /* background-color: green; */
        height: fit-content;
        margin: 0 !important;
        /* padding: 0 !important; */
    }

    a {
        text-decoration: none;
    }
    .nav-blue a{
        background-color:var(--color-blue);
        color: white;
        width: 30%;
        text-align: center;
        border-radius: 20px;
        margin-top: 40px;
    }

    .main-content {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
        margin: 20px;
        justify-content: flex-start;
        align-items: flex-start;
        /*grid-template-rows:70px 350px 350px; */
        column-gap: 20px;
        /* grid-template-areas: 
        "p p" "one two"; */
    }
    .trend-announce {
        /* background-color: #1992d4; */
        justify-content: flex-start;
        /* margin-top: 0 !important; */
    }


    
    
    .projects {
        /* grid-column: 1/-1; */
        /* grid-row: 1/2;  */
        /* grid-area: p; */
        /* display: flex;
        align-items: center;
        margin: 20px 10px; */
        margin-bottom: 0px;
        padding: 0px;
        /* background-color: #1992d4; */
        /* background-color: red; */
    }
    .content-section.one {
        margin-top: 10px;
    }



    .main-content {
        background-color: var(--primary-bg-color);
        padding: 0;
    }
    
    /* Projects Styling */
    .your-projects {
        background-color: var(--primary-bg-color);
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
    }
    .content-section {
        background-color: white;
        padding: 30px;
        margin-top: 20px;
        border-left: 7px solid var(--left-border-color);
        width: fit-content;
        text-align: center;
    }
    hr {
        width: 100% !important;
    }
    .section-icons {
        margin-top: 25px;
        margin-left: auto;
        display: flex;
        justify-content: space-around;
        background-color: gainsboro;
        width: 70%;
    }

    /* Trend and announcement section */
    .trend-announce {
        height: 100%;
    }
    
    
    /* Announcements Styling */
    .announcement {
        margin-top: 0px;
        /* background-color: #1992d4 !important; */
        /* height: 50% !important; */
    }
    
    .announcement.bold-font {
        margin: auto;
        /* background-color: firebrick; */
        text-align: center;
        margin: 20px 0;
        margin-bottom: 10px;
        margin-top: 0;
    }
    
    
     .announce-section {
        background-color: white;
        width: 100%;
        padding: 20px;
        margin: auto;
        text-align: center;
    
    }
    hr {
        margin: auto;
        width: 80%;
    }
    
    /* Trending */

    .trending {
        margin: auto;
        margin-top: 20px;
        margin-bottom: 0px;
        width: 100%;
        height: fit-content !important;
    }
    .bold-font.trending {
        text-align: center;
        padding-top: 0px !important;
        height: fit-content;
    }
    .trending-section {
        margin-top: 15px;
        background-color: white;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: fit-content !important;
        padding: 0px !important;
        /* background-color: #1992d4; */
    }
    
    .trending-section > div {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: auto;
        /* background-color: blue; */
        padding: 0  20px;
        margin: 10px 0 !important;
    }
    .trending-section > div:first-child {
        text-align: center;
        /* background-color: orange; */
        display: flex;
        justify-content: center;
        margin-top: 10px !important;
    }
    .trending-section > div > span {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: yellow;
        margin-right: 17px;
        padding: 20px;
        border-radius: 50%;
    }
    
     .trending-section div div:nth-child(2){
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        /* background-color: red; */
    } 

}


@media (min-width:1400px) {
    .grid-container {
        width: 100%;
        background-color: var(--primary-bg-color);
        display: grid;
        grid-template-columns:repeat(20,1fr);
        grid-template-rows: 200px auto;
        /* if the grid-two container wont let me style 
           the grid-container how then, will I style the
           nav and main-content? I would have to put the nav and 
           main-content inside a grid container to style them 
           in the grid layout style.
        */
        grid-template-areas: 
        "m n n n n n n n n n n n n n n n n n n n"
        "m mc mc mc mc mc mc mc mc mc mc mc mc mc mc mc mc mc mc mc";

    }

    menu#menu-grid {
        display: block;
        grid-area: m;
    }
    .main-content {
        grid-area: mc;
    }
    nav {
        grid-area: n;
    }

    /* .announce-section {
        background-color: red;
    } */
    .main-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
    .projects-container {
        /* background-color: #1992d4; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 800px;
        /* background-color: #1992d4; */
    }
    
    .trend-announce {
        /* background-color: #1992d4; */
        display: flex;
        flex-direction: column;
        justify-content: flex-start !important;
        align-items: center;
        width: 45%;
        padding-top: 0 !important;
        /* background-color: red !important; */

    }
     
    .bold-font.announcement {
        /* height: 500px; */
        /* background-color: #1992d4; */
        padding-top: 0px !important;
        /* background-color: #1992d4; */
        height:fit-content;
    }

    .trending {
        padding-top: 0px;
        height: 372px;
        /* background-color: #1992d4; */
    }
    .trending-section {
        height: 100%;
    }
    .bold-font.trending {
        margin-top: 0px;
        padding-top: 30px;
    }
    .projects {
        background-color: var(--primary-bg-color);
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        padding: 0px;

    }
    .projects-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        
    }
    .content-section.one {
        margin-top: 0px ;
    }
    
    .content-section {
        width: 49%;
        text-align: center;
        margin-top: 10px !important;
        height: 230px;
        margin-bottom: 20px;
    }

    

}
/* * {
    border: 1px solid red;
} */